* {
  margin: 0;
  padding: 0;
}
header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff8a00;
}
header .logo {
  margin-left: 3rem;
}
header .logo img {
  width: 10rem;
  height: 3.8rem;
}
header .logo_right {
  margin-right: 3rem;
}
header .logo_right img {
  width: 2.3rem;
  height: 2.9rem;
  margin-left: 2rem;
}
.user {
  height: 15rem;
  padding-top: 3rem;
  background: url(../image/my/bg2.png) no-repeat;
  background-size: cover;
}
.user .btn {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.user .btn img {
  width: 6rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.user .btn a {
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  color: white;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}
.nav {
  padding: 1rem 2rem;
  display: flex;
  border-bottom: 1px solid #cccccc;
  justify-content: flex-start;
  background-color: #fff;
}
.nav h2 {
  font-size: 1.4rem;
}
.nav h3 {
  font-size: 1.4rem;
  font-weight: 400;
}
.my ul {
  background-color: #fff;
  list-style: none;
  padding: 0 2rem;
}
.my ul li {
  height: 5rem;
  line-height: 5rem;
  border-bottom: 0.1rem solid #d1cfcf;
  padding-right: 2rem;
  background: url(../image/my/right.png) no-repeat right center;
  background-size: 1rem;
}
.my ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #6b6969;
}
.out {
  width: 90%;
  border: 0.1rem solid #ccc;
  margin: 3rem auto;
  text-align: center;
  background-color: #fff;
  display: flex;
}
.out a {
  width: 100%;
  height: 100%;
  padding: 1.5rem 0;
  font-size: 1.8rem;
  text-decoration: none;
  color: #ff9142;
}
